body{
    width: 300px;
    max-height: 550px;
}

h1 {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
}

/* Styles for labels */
label {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 12px;
    color: #333;
  }
  
  /* Styles for buttons */
  button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #ffd300; /*#007bff*/
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* On hover, slightly darken the button */
  button:hover {
    background-color: #DAB500; /*#0056b3*/
  }
  
  /* When the button is clicked, add a press effect */
  button:active {
    transform: translateY(1px);
  }
  
  /* For a disabled button */
  button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

/* Styles for unordered list (ul) */
ul {
    list-style: none;
    padding: 0px;
    margin-top: 4px;
  }
  
  /* Styles for list items (li) in the unordered list */
  li {
    font-size: 12px;
    color: #333;
    margin-bottom: 8px;
    /* Add box styles */
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 4px;
  }
  
  /* Styles for list items (li) links in the unordered list */
  li a {
    text-decoration: none;
    color: #007bff;
  }
  
  /* On hover, change the color of list item links */
  li a:hover {
    color: #0056b3;
  }